body{
    background-color: rgb(3,3,3);
    color: rgb(30,215,96);
    text-align: center;
}
form
{
    width: 200px;
    height: 200px;
    margin-left: 42.5%;
}

.formBtn{
    background-color: rgb(30,215,96);
    border: none;
}
#BarraSx
{
        
        background-color:  rgb(3,3,3);
        width: 15%;
        border: dashed 3px;
        margin-right: 10px;
        height: 800px;
        float: left;

}
#BarraDx
{
        float: left;
        background-color:  rgb(3,3,3);
        width: 20%;
        border: dashed 3px;
        margin-left: 10px;
        height: 800px;
        float: left;
}
#BarraCx
{
        
        background-color:  rgb(3,3,3);
        width: 60%;
        border: dashed 3px;
        margin-left: 10px;
        height: 800px;
        float: left;
}

.Preg{
     
     position:absolute ;
     
}

